body {
    background-color: rgb(66, 66, 78);
}

.index img {
    height: 500px;
    transition: transform 0.2s;
}

.index img:hover {
    transform: scale(1.1);
}

.index button {
    cursor: pointer;
    border: none;
    background-color: rgb(66, 66, 78);
    margin-top: 40px;
}

.index h1 {
    font-family: "Neucha", cursive;
    font-size: 60px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fffd79,
            0 0 4px #fcde38, 0 0 5px #f5ce4f, 0 0 6px #f5da43, 0 0 7px #f7d542;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #ffd3a2, 0 0 4px #fdf479,
            0 0 5px #ffe08c, 0 0 6px #ffecac, 0 0 7px #ffe99f, 0 0 8px #ffee8f;
    }
}

.index p {
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    color: bisque;
    text-align: center;
}

.book {
    color: bisque;
}

.book-container {
    display: flex;
    font-family: "Neucha", cursive;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .book-container {
        flex-direction: column;
    }
    .index img:hover {
        transform: none;
    }

    .index img {
        height: 300px;
    }

    .book:last-of-type {
        margin-top: 50px;
    }
}

.book-section {
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "League Spartan", sans-serif;
}

.book-section h1 {
    font-family: "Neucha", cursive;
    font-size: 30px;
    margin: auto;
    color: bisque;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.book-section img {
    margin-top: 50px;
    width: 20%;
}

.book-section button {
    margin-top: 40px;
    background-color: rgb(255, 243, 205);
    border: none;
    cursor: pointer;
}

.character-section {
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    background-color: rgb(108, 105, 124);
    width: 60%;
    margin: auto;
    margin-top: 100px;
}

.character-section h2 {
    font-family: "Neucha", cursive;
    font-size: 35px;
    margin: auto;
    color: bisque;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.character-section img {
    margin-top: 50px;
    width: 90%;
}

.character-section button {
    margin-top: 40px;
    background-color: rgb(255, 243, 205);
    border: none;
    cursor: pointer;
}

.character-section li {
    list-style: none;
}

.character-section h3 {
    color: bisque;
    font-family: "Neucha", cursive;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.character-section h4 {
    font-size: 30px;
    padding: none;
    margin: none;
}

.character-section p {
    font-size: 25px;
    padding: 0px 20px 20px 20px;
}

.menu-section {
    background-color: rgb(148, 148, 156);
    height: 80px;
    width: 100%;
}

.menu-section div {
    padding-top: 20px;
}

.menu-section a {
    color: black;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 80px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu-section a:hover {
    color: bisque;
}

@media screen and (max-width: 750px) {
    .menu-section a {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .menu-section {
        height: 60px;
        width: 100%;
    }
}

h2 {
    color: bisque;
    font-family: "Neucha", cursive;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.characters-container {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
}

.character {
    width: 30%;
    margin: 40px;
    padding: 10px;
    background-color: rgb(108, 105, 124);
}

.characters-container img {
    width: 100%;
}

.characters-container h3 {
    color: bisque;
    font-family: "Neucha", cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* run npm run dev in terminal to add styling, this is for laravel mix. Add all your css-files here */

