.book-section {
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "League Spartan", sans-serif;
}

.book-section h1 {
    font-family: "Neucha", cursive;
    font-size: 30px;
    margin: auto;
    color: bisque;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.book-section img {
    margin-top: 50px;
    width: 20%;
}

.book-section button {
    margin-top: 40px;
    background-color: rgb(255, 243, 205);
    border: none;
    cursor: pointer;
}
