h2 {
    color: bisque;
    font-family: "Neucha", cursive;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.characters-container {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
}

.character {
    width: 30%;
    margin: 40px;
    padding: 10px;
    background-color: rgb(108, 105, 124);
}

.characters-container img {
    width: 100%;
}

.characters-container h3 {
    color: bisque;
    font-family: "Neucha", cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
