body {
    background-color: darkblue;
}

img {
    height: 500px;
}

button {
    cursor: pointer;
    border: none;
    background-color: none;
}

h1 {
    margin: auto;
}

.book-container {
    display: flex;
}
