.menu-section {
    background-color: rgb(148, 148, 156);
    height: 80px;
    width: 100%;
}

.menu-section div {
    padding-top: 20px;
}

.menu-section a {
    color: black;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 80px;
    color: bisque;
    text-decoration: none;
}
