.menu-section {
    background-color: rgb(148, 148, 156);
    height: 80px;
    width: 100%;
}

.menu-section div {
    padding-top: 20px;
}

.menu-section a {
    color: black;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 80px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu-section a:hover {
    color: bisque;
}

@media screen and (max-width: 750px) {
    .menu-section a {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .menu-section {
        height: 60px;
        width: 100%;
    }
}
